<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
    <title>About</title>
</head>
<body>
  
  <div class="container-fluid mt-5 about-style" id="aboutid" style=" margin: 10rem 0;">
        <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <h1 class="text-center main-heading" style=" font-size: 4rem;
  color: #fd5c63;
  letter-spacing: 1px;
  font-weight: ;
">About us</h1>
                  <p class="text-center sub-heading" style="font-size: 2rem;
  letter-spacing: 3px;
  line-height: 2;
  color: rgb(85, 59, 59);
  font-weight: 500;">grow your business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                            <figure>
                                <img src="https://image.freepik.com/free-vector/business-concept-growth-career-vector-illustration-businessman-who-running-with-increase-graphic-chart-monitor_1150-39746.jpg" alt="herosection_image" style="width: 500px;height: 300px">
                            </figure>
                    </div> 
                   
                    {{!-- right side --}}
                        <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column" style=" font-weight: bold;
  color: #000;
">
                       <h1>WE AR THE PROFESSIONAL DEVELOPERS</h1>

                        <p>Welocme To <span class="bold-style"> Mesbro Technical</span>
                        Your number one score for all things, we are dedicated to giving
                        you the very best of work.</p>
                        <button class="btn-style" style="padding: 12px 25px;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  background: #ec615b;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;">Read Me</button>
                    </div>      

                </div>
              </div>
        </div>
    </div>


    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    
</body>
</html>