

<body>
  <div class=" container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading" style=" font-size: 4rem;
  color: #fd5c63;
  letter-spacing: 1px;
  font-weight: ;">Contact us</h1>
       <p class="text-center sub-heading" style=" font-size: 1rem;
  letter-spacing: 0.2rem;
  color: #777676;
  text-transform: capitalize;
  margin-top: 1.5rem;
  margin-bottom: 5rem;">we'll be happy to help you </p >
      <div class="row">
  
        <form action="/contact" method="post">
          <div class="form-group">
             <label for="exampleInputName">Name</label>
              <input type="Name" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter Name" name="ContactName">
         
            </div>
            <br>
          <div class="form-group">
             <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="ContactEmail">
             <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
             <br>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone</label>
            <input type="phone" class="form-control" id="exampleInputPhone" placeholder="Phone" name="ContactPhone">
           </div>
            <br>
          <div class="form-group">
            <label for="exampleInputMessege">Messege</label>
            <input type="Messege" class="form-control" id="exampleInputMessege" placeholder="Messege" name="ContactMessege">
           </div>
            <br>
           <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
               <label class="form-check-label" for="exampleCheck1">Check me out</label>
           </div>
            <br>
          <button type="submit" class="btn btn-primary" style="padding: 12px 25px;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  background: #ec615b;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;">Submit</button>
        </form>
      </div>
    </div>
  </div>




    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    
</body>
