{{!-- <div class="container-fluid mt-5 about-style" id="serviceid" style="text-align: center;">
    <div class="row">
        <div class="col-md-10 col-12 mx-20px">
            <h1 class="text-center main-heading">Services</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-4" style="display: flex;gap: 450px;">
                    <div class="box" style="border: 1px solid black;text-align:center;">
                        <div class="our services settings" style="width:350px">
                            <div class="icons">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="box" style="border: 1px solid black;text-align:center;width:350px">
                            <div class="our services settings">
                                <div class="icons">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>
                                <h4>settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box" style="border: 1px solid black;text-align:center;width:350px">
                            <div class="our services settings">
                                <div class="icons">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>
                                <h4>settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> --}}

<div style=" text-align:center;gap:50px;margin:10px">

    <h1 style="font-size: 40px;  padding: 0 30px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17); ">Our Services 
  <p style=" font-size: 1.7rem;
  letter-spacing: 0.2rem;
  color: #777676;
  text-transform: capitalize;
  margin-top: 1.5rem;
  margin-bottom: 5rem;">grow your business with us</p>
  </h1>

    <div style="display: flex;gap: 50px;">
        
        <div>
            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
            <h4 style="font-size: 3rem;
  font-weight: bold;">settings</h4>

            <img src="https://image.freepik.com/free-vector/business-team-discussing-ideas-startup_74855-4380.jpg" alt="" a-style w="5">

        </div>
        <div>
             <img src="https://i.imgur.com/6NKPrhO.png" alt="">
            <h4 style="font-size: 3rem;
  font-weight: bold;">Speedup</h4>
            <img src="https://graphicriver.img.customer.envatousercontent.com/files/297439040/Business%20Growth%20590.jpg?auto=compress%2Cformat&q=80&fit=crop&crop=top&max-h=8000&max-w=590&s=0d03e9601988f888f57f42af8d46a6ca" alt=""a-style w="50">
        </div>

        <div>

            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
            <h4 style="font-size: 3rem;
  font-weight: bold;">Business Plan</h4>

            <img src="https://media.istockphoto.com/vectors/vector-illustration-concept-of-meeting-and-teamwork-vector-id1225028636?k=20&m=1225028636&s=612x612&w=0&h=AfCSmp-qQD5D9oaKozw1V9PInqH2UguT19gF4tWHt58=" alt="" a-style w="50">

        </div>
    </div>

</div>